{% load attr %}
<div class="h-full flex flex-col">
    <div class="relative overflow-x-auto overflow-y-auto grow">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        {% for field in header %}
                            <th scope="col" class="px-6 py-3">
                                {{field}}
                            </th>
                        {% endfor %}
                        <th scope="col" class="px-6 py-3">
                            Actions
                        </th>
                    </tr>
            </thead>
            <tbody>
                    {% for obj in page_obj %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            {% for field in header %}
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"> {% get_attr obj field %}  </th>
                            {% endfor %}
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {% include "modal_detail_continent.html" %}
                                {% include "btn_update_continent_or_pays.html" %}
                                {% include "modal_suppresion.html" %}
                            </th>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "pagination.html" %}
    {% include "btn_create_continent_or_pays.html" %}
</div>
