{% extends "sidebar.html" %}

{% block title %}{% endblock title %}

{% block content %}
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class="groupe-form">
                <label for="">{{ field.label_tag }}</label>
                {{ field }}
                {% for error in field.errors %}
                    <small class="text-red-800"> {{ error }} </small>
                {% endfor %}
            </div>
        {% endfor %}
        {% include "btn_submit.html" with btn_libele="Creer" %}
    </form>
{% endblock content %}