{% extends "sidebar.html" %}

{% block content %}
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <div class="flex flex-col gap-y-4">
            {% for field in form %}
                <div>
                    <label for=""> {{field.label_tag  }} </label>
                    {{ field }}
                    {% for error in field.errors %}
                        <small class="text-red-800"> {{ error }} </small>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% include "btn_submit.html" with btn_libele="Creer" %}
    </form>
{% endblock content %}